<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nantian.daoExtend.IDSequenceMapper" >
    <select id="querySEQCUSTOMER" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_CUSTOMER.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQPROJECT" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_PROJECT.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQINTERMEDIARY" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_INTERMEDIARY.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQCONTRACT" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_CONTRACT.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQCONTRACT2" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_CONTRACT2.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQGUARANTEE" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_GUARANTEE.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQSTOCK" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_STOCK.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQPHYSICAL" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_PHYSICAL.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQIMPORT" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_IMPORT.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQDISPOSITION" resultType="int" useCache="false" flushCache="true" >
    SELECT SEQ_DISPOSITION.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQTRANSACTION" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_TRANSACTION.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQRECEIPTS" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_TOOL.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQCOLLATERAL" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_COLLATERAL.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQWYID" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_WYID.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQTRANSFEROR" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_TRANSFEROR.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQDEBTOR" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_DEBTOR.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQAGREEMENT" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_AGREEMENT.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQRISK" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_RISK.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQCLASSIFICATION" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_CLASSIFICATION.NEXTVAL FROM DUAL
    </select>
    <select id="querySEQWORKPIECE" resultType="int" useCache="false" flushCache="true" >
        SELECT SEQ_WORKPIECE.NEXTVAL FROM DUAL
    </select>
</mapper>